.responsive-embed {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  /* padding-bottom: will be set inline for each embeds ratio */
}
.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}